<!-- Main hero unit or call to action -->
<div class="hero-unit">
    <h1>Google DevFest Twin Cities!</h1>
    <p>Feb 8th, 2014. <br />
    UST Shultze School of Entrepreneurship, downtown MPLS.
    </p>
</div>

<div class="row" style="height: 400px; width: 100%; background-size: 100%;  background-image:url(http://4.bp.blogspot.com/-eohd3QG-HAI/UiUEUOVWahI/AAAAAAAAASo/wH3LMdO-Jt8/s1600/image00.jpg)"></div>

<div class="row">
<h2>About</h2>
  <div class="span4">
    <h4 class="">What</h4>
    <p>Google is promoting the idea worldwide of regional chapters hosting <a href="https://developers.google.com/events/devfest/">DevFest</a> Events.  <a href="http://txdevfest.com/">Many</a> <a href="https://plus.google.com/events/ct73e3me5gqoqt4jcekt9msbuoo">other</a> <a href="https://www.atendy.com/event/gdg-waterloo-devfest-80954845">cities</a> have had good success with them.</p>
  </div>

  <div class="span4">
    <h4 class="">When</h4>
    <p>All day, Feb 8th, 2014
    </p>
  </div>

  <div class="span4">
    <h4 class="">Where</h4>
    <p>Shultze School of Entrepreneurship, Downtown MPLS.  Easy parking, great space.  Plenty of breakout rooms.
    </p>
  </div>
</div>

<div class="row">
  <h2 class="">Format</h2>
  <p>The plan is to kick off the day with an awesome Keynote Speaker, after some coffee and treats.  Then to breakout into simultaneous sessions of varying format.  Either presentation style, panel style, or a workshop.  Presentations will be in depth on variety of topics by experts in the subject matter.  The workshops will be hands on events where participants will be able to experience working with the topic and skills presented.
  </p>

</div>

<div class="row">
  <h2 class="">Get Involved</h2>

  <div class="span4">
    <h4>Call for Speakers</h4>

    <p>
        <a href="https://docs.google.com/forms/d/1fwKekYNXyfMY_85oLfTvvKmqGT-HeNy7GAGkydInEd4/viewform">Speaker Application Form</a>
        <br />
        <a href="https://docs.google.com/document/d/15Z_DCP2cHeYf8cNhwZq7eaZWpo1gSKYWObdiqbKFhxo/view">Speaker FAQ</a>
    </p>
    <p>
    We're planning on at least two tracks, Android and Web Development, but have the capacity and interest to add others (dataviz, analytics, cloud services, arduino, etc). If you have a great tech idea that you'd like to talk about, or run a workshop of, we'd love to hear about it. Topics are not required to be specifically about a Google technology.
    </p>
  </div>

  <div class="span4">
  <h4>Sponosr</h4>
  <p>Please contact us for opportunities to sponsor this event.
  </p>
</div>
</div>


<hr class="featurette-divider">
<div class="row partners-row">
        <div class="span3">
      <h3 class="partners-text">Partner Organizations</h3>
        </div>

        <div class="span8">
          <div class="col-xs-6 col-sm-3 span3 partners">
            <a href="http://google-ukraine-blog.blogspot.com/"><img class="featurette-image img-responsive" src="img/partners/google.png" alt="Google"></a>
          </div>
      <div class="col-xs-6 col-sm-3 span3 partners">
            <a href="http://code42.com"><img class="featurette-image img-responsive" src="img/partners/code42.svg" >Code42</a>
      </div>
      <div class="col-xs-6 col-sm-3 span3 partners">
            
          </div>
       </div>
  </div>
            
