          <div class="hero-unit">
                <h1>GDG Twin Cities</h1>
                <p>Google Developer Groups (GDGs) test are for developers who are interested in Google's developer technology; everything from the Android, App Engine, and Google Chrome platforms, to product APIs like the Maps API, YouTube API and Google Calendar API.</p>
                <p><a class="btn btn-primary btn-large" href="http://meetup.com/gdg-tc">Come see</a></p>
          </div>

          <div class=" g-page" data-href="https://plus.google.com/105771089293763738926" data-width="400"></div>


          <div class="row">
          <h2 class="">Organizers</h2>
          <div class="span3">
            <div class="plusprofilephoto" guidedhelpid="profile_photo"><a href="https://plus.google.com/+BradArmstrong/"><img src="http://lh3.googleusercontent.com/-dzLyvnE1l2w/AAAAAAAAAAI/AAAAAAAABrU/8HYjk5TJjHM/s120-c/photo.jpg" class="plusprofilephoto" style="cursor: pointer;"></a>
              <h3>Brad Armstrong</h3>
              <p>Android Team manager at Code42</p>
            </div>
          </div>
          
          <div class="span3">
            <div class="plusprofilephoto" guidedhelpid="profile_photo"><a href="https://plus.google.com/+LloydCledwyn/"><img src="https://lh3.googleusercontent.com/-pRtbphj2rLk/AAAAAAAAAAI/AAAAAAAA0Bc/vetOzV64wwg/s120-c/photo.jpg" class="plusprofilephoto" style="cursor: pointer;"></a>
              <h3>Lloyd Cledwyn</h3>
              <p>Web Application Developer at Macalester College</p>
            </div>
          </div>

          <div class="span3">
            <div class="plusprofilephoto" guidedhelpid="profile_photo"><a href="https://plus.google.com/+StephenFluin/"><img src="https://lh4.googleusercontent.com/-JZSee_uuOJE/AAAAAAAAAAI/AAAAAAAA7qs/eP3LP_qLikk/s120-c/photo.jpg" class="plusprofilephoto" style="cursor: pointer;"></a>
              <h3>Stephen Fluin</h3>
              <p>Chief Solutions Officer at <a href="http://mentormate.com/">MentorMate</a></p>
            </div>
          </div>

          <div class="span3">
            <div class="plusprofilephoto" guidedhelpid="profile_photo"><a href="https://plus.google.com/105144321675679603446/posts"><img src="https://lh4.googleusercontent.com/-h6uwuDOCDEM/AAAAAAAAAAI/AAAAAAAAADw/ll6e6hR29RU/s120-c/photo.jpg" class="plusprofilephoto" style="cursor: pointer;"></a>
              <h3>Jeff Williams</h3>
              <p>Google Apps Administrator at University of Minnesota</p>
            </div>
          </div>

        </div>
    
        <hr class="featurette-divider">
    <div class="row partners-row">
            <div class="span3">
          <h3 class="partners-text">Partner Organizations</h3>
            </div>
    
            <div class="span8">
              <div class="col-xs-6 col-sm-3 span3 partners">
                <a href="http://google-ukraine-blog.blogspot.com/"><img class="featurette-image img-responsive" src="img/partners/google.png" alt="Google"></a>
              </div>
          <div class="col-xs-6 col-sm-3 span3 partners">
                <a href="http://code42.com"><img class="featurette-image img-responsive" src="img/partners/code42.svg" >Code42</a>
              </div>
          <div class="col-xs-6 col-sm-3 span3 partners">
                
              </div>
           </div>
      </div>
            
