
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>We love our sponosrs.</h1>
                <p>Here are some ideas that your group could help by sponsoring GDG Twin Cities</p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span3">
                    <h2>Maps</h2>
                    <p><strong>Keep us on the map.</strong></p>
                    <p>Host a meetup at your business.  We usually have 20-50 people show up to any event.</p>
                    <p><strong>Provide a speaker.</strong></p>
                    <p>We are always looking for engaging folks who are passionate about what they are working on.  We'd love to hear your current project.</p>
                    <p><strong>Provide food.</strong></p>
                    <p>Awesome members deserve awesome chow.  Help an event by providing some good eats.</p>
                </div>
                <div class="span3">
                    <h2>Plus</h2>
                    <p><strong>Become part of our Circle. <br /> $400</strong></p>
                    <p>Help us out with misc overhead. (This site, meetup.com fees, etc).  Currently footed out of the pocket of the organizers.</p>
                    <p>
                      - Small logo, tagline and link on event announcements
                    </p>
               </div>
                <div class="span3">
                    <h2>Cloud</h2>
                    <p><strong>Help us scale. <br /> $1000</strong></p>
                    <p>Help us dial it up.  We often would like to provide opportunities for memebers to have access to newer gadgets, opportunities etc.  </p>
                    <p>
                    - Med logo, short message, and link on all announcements<br />
                    - Logo on our Meetup.com page
                    </p>

                </div>
                <div class="span3">
                    <h2>Chrome</h2>
                    <p><strong>Partner with us.</strong></p>
                    <p>There can only be 1 and it could be you</p>
                    <p>Contact us for more details.</p>
                </div>
            </div>

            <hr>
            
            
    <div class="row partners-row">
            <div class="span3">
          <h3 class="partners-text">Partner Organizations</h3>
            </div>
    
            <div class="span8">
              <div class="col-xs-6 col-sm-3 span3 partners">
                <a href="http://google-ukraine-blog.blogspot.com/"><img class="featurette-image img-responsive" src="img/partners/google.png" alt="Google"></a>
              </div>
          <div class="col-xs-6 col-sm-3 span3 partners">
                <a href="http://code42.com"><img class="featurette-image img-responsive" src="img/partners/code42.svg" >Code42</a>
              </div>
          <div class="col-xs-6 col-sm-3 span3 partners">
                
              </div>
           </div>
      </div>
            
